fastapi
uvicorn[standard]

pydantic
pydantic-settings

supabase

google-generativeai
google-auth

chromadb

pypdf
langdetect

python-jose[cryptography]
python-multipart

requests
email-validator

sentence-transformers
torch
numpy
