fastapi
uvicorn[standard]

pydantic
pydantic-settings

supabase

google-genaI

chromadb

pypdf

langdetect

python-jose[cryptography]

google-auth

python-multipart

requests

email-validator==2.2.0

sentence-transformers==5.0.0

numpy<2.0
